#writing-title {
  color: #f8c4a1;
}

#writing-title::after {
  content: "";
  margin-left: 5px;
  width: 5px;
  height: 40px;
  background: black;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}

.timeline {
  position: relative;
  max-width: 1250px;
  margin-left: 30px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  width: 50%;
  left: 0;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ffb380;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
}

.container a {
  color: burlywood;
  font-weight: 500;
}

#pencil {
  margin-left: 60%;
  margin-top: -50%;
}

@media only screen and (max-width: 1080px) {
  #pencil {
    display: none;
  }
  .content {
    padding: 10px;
  }
  .timeline {
    max-width: 90vw;
  }
}