#about-title{
    color: #C7CEEA;
} 

#about-title::after{
    content: "";
    margin-left: 5px;
    width: 5px;
    height: 40px;
    background: black;
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
}
  
#about-content{
  display: flex;
  margin-top: 10vh;
}

#profile-pic{
  border-radius: 50%;
  margin-left: 30px;
  width: fit-content;
  height: fit-content;
}

#bio{
  margin: 0 40px;
  line-height: 1.5em;
}